// fonts
=mw
	font-family: 'Merriweather'
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
+font(DinCond-Regular, ufonts_com_dincondregularopentype)
=din
	font-family: 'DinCond-Regular', sans-serif
	font-weight: normal
	font-style: normal
+font(DinCond-Medium, ufonts_com_dincondmediumopentype)
=din-m
	font-family: 'DinCond-Medium', sans-serif
	font-weight: normal
	font-style: normal

body
	+mw
	font-size: 18px
	line-height: 1.4
	color: #f2f2f1
	-webkit-overflow-scrolling: touch

// common blocks
.btn
	display: inline-block
	height: 73px
	width: 265px
	border-radius: 37px
	border: 2px solid #b59171
	+mw
	font-size: 23px
	font-style: italic
	letter-spacing: 4px
	line-height: 65px
	text-transform: uppercase
	background: transparent
	color: #f2f2f1 
	+tr(background 300ms)
	&:hover
		background: #b59171
.buy-btn
	position: relative
	height: 73px
	width: 265px 
	padding-right: 79px
	text-align: center
	border-radius: 35px
	background: #eeece8 
	box-shadow: -1px 2.8px 7px rgba(170, 170, 170, 0.32)
	font-size: 22px
	letter-spacing: 2px 
	+mw
	font-style: italic
	color: #797a7a
	transition: background 300ms
	//opacity: 0
	transform: translateY(30px)
	.buy-btn__price
		position: relative
		height: 73px 
		line-height: 70px
		border-radius: 35px 0 0 35px
		&:after
			content: ""
			position: absolute
			top: 1px
			right: -8px
			width: 70px
			height: 70px
			background: #eeece8
			border-radius: 50%
			transition: background 300ms
			z-index: 2
		span
			position: relative
			z-index: 3	 
	.buy-btn__right
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 80px 
		padding-top: 22px
		border-radius: 0 35px 35px 0
		background: #b59171  
		+cover 
		font-size: 24px
		color: #fff
		&:before
			content: ""
			position: absolute
			top: 8px
			left: -9px
			width: 30px
			height: 10px
			transform: rotate(50deg)
			background: #b59171
			border-radius: 10px
		&:after
			content: ""
			position: absolute
			bottom: 8px
			left: -9px
			width: 30px
			height: 10px
			transform: rotate(-50deg)
			background: #b59171
			border-radius: 10px
	&:hover
		background: #ECE6D9
		.buy-btn__price
			&:after
				background: #ECE6D9
	&.buy-btn_gold
		background: #faf5ee
		.buy-btn__price
			&:after
				background: #faf5ee
		&:hover
			background: #F5EBDD
			.buy-btn__price
				&:after
					background: #F5EBDD 		 						  

.h2
	+din
	font-size: 100px
	text-transform: uppercase
	color: rgb(33, 34, 34)
	line-height: 1
	&.h2_yellow
		color: #7c6d53
.h3
	+din-m
	font-size: 100px
	text-transform: uppercase
	color: rgb(33, 34, 34)
	line-height: 1
.h4
	+din
	font-size: 60px
	text-transform: uppercase
	line-height: 1
	color: #f9f7f6 	

.title
	position: relative
	.h2
		position: relative
		line-height: 1 
		z-index: 2
		//opacity: 0
	.title__bg
		position: absolute
		top: -85px
		left: 0
		right: 0
		overflow: hidden
		font-size: 260px
		line-height: 1
		+din-m
		text-transform: uppercase
		white-space: nowrap
		color: rgba(#c4aa8d, 0.06)
		//opacity: 0 
		z-index: 1






